{% extends 'base.html' %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/cart.css' %}">
    <link rel="stylesheet" href="{% static 'css/wishlist.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center">
                <h2 class="text-black">Whish List</h2>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="cart-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="main-heading mb-10">My wishlist</div>
                <div class="table-wishlist">
                  
                    <table cellpadding="0" cellspacing="0" border="0" width="100%">
                        <thead>
                            <tr>
                                <th width="45%">Product Name</th>
                                <th width="20%">Unit Price</th>
                                <th width="20%">Stock Status</th>
                                <th width="15%"></th>
                            </tr>
                        </thead>
                       {% if wish_list %} 
                        <tbody>
                        
                        {% for item in wish_list %}
                            <tr>
                               
                                <td width="45%">
                                    <div class="display-flex align-center">
                                        <div class="img-product">
                                            <img src="{{ item.product.image_url }}" alt="{{ item.product.name }}" class="mCS_img_loaded">
                                        </div>
                                        <div class="name-product">
                                            <a href="{{ item.product.get_absolute_url }}">
                                            {{ item.product.name | title }}
                                            </a>
                                        </div>
                                    </div>
                                </td>
                                <td width="20%" class="price">${{ item.product.price }}</td>
                                <td width="20%"><span {% if item.product.stock %}class="in-stock-box"{% else %}class="not-in-stock-box"{% endif %}>In Stock</span></td>
                                
                                <td width="15%" class="text-center">
                                    
                                    <a href="#" class="trash-icon" data-toggle="modal" data-target="#wishModal"><i class="far fa-trash-alt"></i></a>
                                   
                                     <!-- delete review modal -->
                                    <div class="modal fade" id="wishModal" tabindex="-1" role="dialog" aria-labelledby="wishModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="wishModalLabel"><strong>Delete confirmation</strong></h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true"><strong>&times;</strong></span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <h3 class="text-center">Are you sure you want to remove this item from wish list?</h3>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Go Back</button>
                                                    <a href="{% url 'wishlist:delete_item' item.id %}" class="btn btn-danger">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                        {% endfor %}
                       
                        </tbody>
                      {% else %}
                        <p>Your wish list is empty</p>
                      {% endif %}

                    </table>
                    
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
