.rm {
    text-decoration: none!important;
}
.title-lead, a {
    text-align: center;
    color: #9fe391!important;
}
.title-lead {
    font-size: 150%;
}
.alert {
    text-align: center;
}
.logout {
    border: 2px solid #1b7030;
    background-color: #2a2a2c;
    box-shadow: 15px 10px 10px rgba(108, 190, 145, 0.5); 
    
}
h3 {
    text-align: center;
    color: #e1e6df;
}
.bg-primary {
    background-color: #342408!important;
}
.signup, .lgn {
    color: #fff;
    font-size: 140%;
    border: 1px solid #47b686;
    background-color: #296a1c!important;
}
.signup:hover, .lgn:hover {
    border: 1px solid #47b686;
}
.bi {
   color: #296a1c; 
}
span.bi {
    color: #9fe391!important;
}
hr {
    border: 1px solid #9fe391;
}
.btn-google {
    color: white!important;
    background-color: #ea4335;
  }
  
  .btn-facebook {
    color: white!important;
    background-color: #3b5998;
  }
  