.btn-custom-green{
    background-color: #0d6316;
    color: white;
}
.fa-pen-square,.fa-trash-alt {
    color:#0d6316;
    font-size: 120%;
}
/* .update-form {
    display: inline;
}
.update-link, .remove-item {
    display: flex;
} */
#repl > *{
    display: inline-block;
}