.tabbable-responsive {
    display: block;
    min-width: 100%;
    overflow-x: auto;
    margin: 0px -20px -13px -20px;
  }
#love {
    color: red!important;
}
li > a {
    color: black!important;
}
.tabbable {
    min-width: 100%;
} 
.nav-tabs {
    white-space: nowrap;
    display: inline-block;
    min-width: 100%;
    padding: 0px 21px;
    }

.fa-orange {
    color: orange!important;
}

.fa-regular {
    color: aliceblue!important;
}

.table-wishlist table {
    width: 100%;
}
.table-wishlist thead {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 5px;
}
.table-wishlist thead tr th {
    padding: 8px 0 18px;
    color: #484848;
    font-size: 15px;
    font-weight: 400;
}
.nav-item {
        display: inline-block;
}  
.nav-link {
        display: inline-block;
          }
