.btn-custom-green{
    background-color: #59adaf;
    color: white;
}
#sly {
    background-color: #90bd90!important;
}
.product-detail-image {
    background-color: transparent;
}
.fa-orange {
    color: orange!important;
}
.fa-regular {
    color: aliceblue!important;
}
footer li > a {
    color: #fff!important;
}
