.btn-custom-green{
    background-color: #59adaf;
    color: white;
}
.logout {
    border: 2px solid #1b6f70;
    background-color: #59adaf;
    box-shadow: 15px 10px 10px rgba(143, 227, 181, 0.5); 
    
}
.title-lead,.cfm {
    color: #fff;
}
#sly {
    background-color: #90bd90!important;
}
.product-detail-image {
    background-color: transparent;
}
.fa-orange {
    color: orange!important;
}
.fa-regular {
    color: aliceblue!important;
}
footer li > a {
    color: #fff!important;
}
