{% extends "base.html" %}

{% load static %}

{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block page_header %}

{% endblock %}

{% block content %}
<div class="masthead mt-3">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ article.title }}</h1>
                <p class="post-subtitle">{{ article.author.username }} | {{ article.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                <img src=" {{ article.article_img.url }}" width="100%">
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4  mt-3 left  top">
            <div class="card-body">
                <p class="card-text ">
                    {{ article.content | safe }}
                </p>
                <div class="row">

                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                                <form class="d-inline" action="{% url 'blog:article_like' article.slug %}" method="POST">
                                    {% csrf_token %}
                                    {% if liked %}
                                        <button type="submit" name="blogpost_id" value="{{article.slug}}" class="btn-like"><i class="fas fa-heart"></i></button>
                                    {% else %}
                                        <button type="submit" name="blogpost_id" value="{{article.slug}}" class="btn-like"><i class="far fa-heart"></i></button>
                                    {% endif %}
                                </form>
                            {% else %}
                                <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                        </strong>
                        <span>{{article.number_of_likes}}</span>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- Our total_comments variable goes before the closing strong tag -->
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 ">
            <h3>Comments:</h3>
            <div class="card-body">
                <!-- We want a for loop inside the empty control tags to iterate through each comment in comments -->
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    {% if comment.user.profile.avatar.url %}
                    <img src="{{comment.user.profile.avatar.url}}" class="comment-photo">
                    {% else %}
                    <img src="{% static 'images/userimage.png'%}" class="comment-photo">
                    {% endif %}
                    <p class="font-weight-bold">
                        <!-- The commenter's name goes here. Check the model if you're not sure what that is -->
                        {{ comment.user.username }} wrote:
                    </p>
                    <!-- The body of the comment goes before the | -->
                    {{ comment.body | linebreaks }}
                    <p>Posted: {{ comment.created_on|date:"SHORT_DATE_FORMAT"}} at {{comment.created_on|date:"G:i a"}}</p>
                </div>
                <!-- for loop ends here -->
                <hr>
                {% endfor %}
                
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 ">
            <div class="card-body">
                    {% if user.is_authenticated %}
                        <h3>Leave a comment:</h3>
                        <p>Posting as: {{ user.username }}</p>
                        <form method="POST" style="margin-top: 1.3em;">
                            {% csrf_token %}
                            {{ comment_form | crispy }}
                            <button type="submit" class="btn comment-submit btn-lg">Submit</button>
                        </form>
                    {% else %}
                    
                    {% endif %}
            </div>
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <a href="{% url 'shop:products' %}" class="btn btn-success">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Return To Shop</span>
            </a>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock %}