{% extends "base.html" %}

{% load crispy_forms_tags %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col text-center">
                <h2 class="text-black">Accounts</h2>
                <hr>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid profile-container justify-content-space-around">
        <div class="row text-center">
            <div class="col-xs-12 col-md-4 profile-menu-items">
                <h3 class="text-black">Profile Menu</h3>
                <hr>
                <ul class="profile-menu-list">
                    <li><a href="{% url 'account:profile' %}" class="menu-item active"><i class="fa-solid fa-info"></i> Personal Information</a></li><hr>
                    <li><a href="{% url 'account:shipping_details' %}" class="menu-item"><i class="fa-solid fa-truck-fast"></i> Shipping Details</a></li><hr>
                    <li><a href="{% url 'account:edit_image' user.id %}" class="menu-item"><i class="fa-regular fa-image"></i></i> Change Profile Photo</a></li><hr>
                    <li><a href="{% url 'account:order_history' %}" class="menu-item"><i class="fa-solid fa-receipt"></i> Order history</a></li><hr>
                    <li><a href="{% url 'account:reviews' %}" class="menu-item"><i class="far fa-edit"></i> Reviews</a></li><hr>
                    <li><a href="#" class="menu-item btn btn-primary" data-toggle="modal" data-target="#myCenteredModal"><i class="fa-regular fa-circle-xmark"></i> Close Account</a></li><hr>
                    </ul>
            </div>
            <div class="col-xs-12 col-md-8 profile-options-items">
                <div class="overlay"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <h3 class="text-black">Edit Review</h3>
                            <hr>
                            <h2 class="logo-font mb-4">{{ product.name }}</h2> 
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <form method="POST" action="{% url 'account:edit_review' review.id %}" class="form mb-2">
                                {% csrf_token %}
                                {{ form | crispy }}
                                <div class="text-right">
                                    <a class="btn btn-outline-black rounded-0" href="{% url 'account:reviews' %}">Cancel</a>
                                    <button class="btn btn-danger rounded-0" type="submit">Update Review</button>
                                </div>
                            </form>
                        </div>            
                    </div>
                </div>
                  
            </div>
        </div>
    </div>

     <!-- close account modal -->
     <div class="modal" id="myCenteredModal">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal header -->
                <div class="modal-header">
                    <h4 class="modal-title"><strong>Close account confirmation</strong></h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <h3 class="text-center">Are you sure you want to close your account?</h3>
                    <p class="text-center"><strong>This action is not reversable!</strong></p>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Go Back</button>
                    <a href="{% url 'account:delete_account' user.id %}" class="btn btn-danger">Close Account</a>
                </div>

            </div>
        </div>
    </div>

{% endblock %}

