{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="row mt-5 mb-5">
    
    <div class="col-md-3"></div>
    
            <div class="col-md-6">
                <div class="card logout">
                    <div class="card-body">
                <h3>Password Reset</h3>
                <p class="bi">Forgotten your password? Enter your email address below, and we will send you instructions for setting a new one.</p>
                <form action="" method="POST">
                    {% csrf_token %}
                    
                    <div class="row mt-5">
                    {% for field in form %}
                    <div class="col-md-3">
                        <label class="form-label sp-teller">{{ field.label }}:</label>
                    </div>
                    <div class="col-md-9">
                        {{ field }}
                    </div>
                    {% endfor %}
                </div>
                <div class="d-grid col-6 mx-auto mt-3"> 
                    <button type="submit" class="btn btn-success lgn">Submit</button>
                    </div>
                      
                </form>
                </div>
            </div>     
            </div>

<div class="col-md-3"></div>
</div>
{% endblock %}