{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <!--Required Meta Tags-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Dimie Egberipou">
    <meta name="description"
    content="Sewing machines for all.">
    <meta name="keywords"
    content="Sewing, machines, coverlock">
    <meta property="og:title" content="Lamad | Sewing Machines">
    <meta property="og:description" content="Lamad ecommerce store good for sewing machines and accessories.">
    <meta property="og:url" content="#">
    <!--Favicon-->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <title>Lamad Store | Sewing Machines.</title>

    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
    {% endblock %}

    {% block extra_css %}
    <!--Mailchimp Css-->
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
      /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
         We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
    </style>
    {% endblock %}

    {% block corejs %}
    <!--Stripe-->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Font Awesont kit-->
    <script src="https://kit.fontawesome.com/3af9543e24.js" crossorigin="anonymous"></script>
    <!-- Bootstrap Scripts-->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    
    {% endblock %}

  </head>
  <body>
    <a href="#" id="off"></a>
    <!-- Header Nav bar-->
    <header class="container-fluid">
        <div id="topnav" class="row nav-bg-color pt-lg-2 d-none d-lg-flex">
            <!-- Nav logo-->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home:home' %}" class="nav-link main-logo-link">
                  <h2 class="logo-font text-white my-0"><strong>Lamad</strong> Shop</h2>
                </a>
            </div>
            <!-- Nav center for links-->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'shop:products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn nav-bg-color border border-black rounded-0" type="submit" aria-label="Search our products">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <!-- last col for account and cart options-->
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-sly nav-link" href="#" id="dt-user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                {% if request.user.is_authenticated %}
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p class="my-0 text-white">My Account</p>
                                {% else %}
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p class="my-0 text-white">Login / Sign Up</p>
                                {% endif %}
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if user.is_superuser %}
                                    <a href="{% url 'shop:add_product' %}" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="{% url 'account:profile' %}" class="dropdown-item">My Profile</a>
                                <a href="#logoutModal" class="dropdown-item" data-toggle="modal" data-target="#logoutModal">Logout</a>
               
                            {% else %}
                                <a href="{% url 'account:register' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account:signin' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-white{% endif %} nav-link" href="{% url 'cart:cart' %}">
                            <div class="text-center">
                                <div><i class="fa-solid fa-cart-shopping fa-lg"></i></div>
                                <p class="my-0 cart-amount">
                                    {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                        Cart
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row second-nav">
            <nav class="navbar navbar-expand-lg navbar-dark text-sly w-100">
                
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% include 'includes/mobile-top-header.html' %}
                    {% include 'includes/main-nav.html' %}
                
            </nav>
        </div>
        <div id="delivery-banner" class="row text-center">
            <div class="col my-secondary text-white">
                <h4 class="logo-font my-1">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>                
            </div>            
        </div>
    </header>
     
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}
    
    <!-- logout modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="logoutModalLabel"><strong>Logout confirmation</strong></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"><strong>&times;</strong></span>
                  </button>
              </div>
              <div class="modal-body">
                  <h3 class="text-center">Are you sure you want to logout of your account?</h3>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Go Back</button>
                  <a href="{% url 'account:logout' %}" class="btn btn-danger">Logout</a>
              </div>
          </div>
      </div>
  </div>
    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script>
      $(document).ready(function(){
      $('.toast').toast('show');
      });
    </script>
  <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
  <script type='text/javascript'>
  (function($) {window.fnames = new Array(); 
    window.ftypes = new Array();
    fnames[0]='EMAIL';
    ftypes[0]='email';
    fnames[1]='FNAME';
    ftypes[1]='text';
    fnames[2]='LNAME';
    ftypes[2]='text';
    fnames[3]='ADDRESS';
    ftypes[3]='address';
    fnames[4]='PHONE';
    ftypes[4]='phone';
    fnames[5]='BIRTHDAY';
    ftypes[5]='birthday';}
  (jQuery));
  var $mcj = jQuery.noConflict(true);
  </script>
    {% endblock %}
    <a href="#" id="to-top" aria-label="move to top of page">
      <span class="move_to_top">
        <i class="fas fa-caret-up"></i>
      </span>
    </a>
     <!-- Footer-->
     <footer class="footer" style="background: #3a3a3a">
          
        <div class="py-5">
          <!-- Main Block -->
          <div class="container py-5">
            <div class="row gx-5 gy-4">
              <div class="col-lg-4">
                 <h5 class="text-white text-uppercase mb-4">ABOUT</h5>
                 <p class="text-white">The lamad shop shipping policies: <a href="#" class='text-white'>Shipping</a></p>
                 <br>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item me-3"><a class="reset-anchor" href="https://twitter.com" target="_blank" title="twitter"><i class="fab fa-twitter"></i></a></li>
                  <li class="list-inline-item me-3"><a class="reset-anchor" href="https://facebook.com" target="_blank" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
                  <li class="list-inline-item me-3"><a class="reset-anchor" href="#" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a></li>
                  <li class="list-inline-item me-3"><a class="reset-anchor" href="#" target="_blank" title="pinterest"><i class="fab fa-pinterest"></i></a></li>
                  <li class="list-inline-item"><a class="reset-anchor" href="#" target="_blank" title="vimeo"><i class="fab fa-vimeo-v"></i></a></li>
                </ul>
              </div>
              <div class="col-lg-2 col-md-6">
                <h5 class="text-white text-uppercase mb-4">Lamad Shop</h5>
                <ul class="list-unstyled text-sm fw-normal mb-0">
                  {% for category in menu %}
                  <li class="mb-1 pb-1"><a href="{{ category.get_absolute_url }}" class="reset-anchor">{{category.name}}</a></li>
                  {% endfor %}
                </ul>
                <li class="mb-1 pb-1"> <a class="reset-anchor" href="{% url 'blog:articles' %}">Our Blog</a></li>
              </div>
              <div class="col-lg-2 col-md-6">
                <h5 class="text-white text-uppercase mb-4">Pages</h5>
                <ul class="list-unstyled text-sm fw-normal mb-0">
                  <li class="mb-1 pb-1"> <a class="reset-anchor" href="{% url 'account:signin' %}">Login</a></li>
                  <li class="mb-1 pb-1"> <a class="reset-anchor" href="{% url 'account:register' %}">Register</a></li>
                  <li class="mb-1 pb-1"> <a class="reset-anchor" href="{% url 'wishlist:wish_list' %}">Wishlist</a></li>
                </ul>
              </div>
              <div class="newsletter col-lg-4">
                <h5 class="text-white text-uppercase mb-4">Contact</h5>
                <ul class="list-unstyled text-sm fw-normal mb-0">
                  <li class="mb-1 pb-1 text-white">Phone: 0877850472</li>
                  <li class="mb-1 pb-1 text-white">Email: helper@lamadshop.com</li>
                  <li class="mb-1 pb-1"><a href="{% url 'contact:contact' %}" class="reset-anchor">Contact Form</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="copyrights py-4" style="background: #3a3a3a">
          <div class="container py-3">
            <div class="row align-items-center gy-3">
              <div class="col-md-6">
                <p class="mb-0 text-sm fw-normal text-white">&copy; 2023 <a class="reset-anchor text-white" href="{% url 'home:home' %}">Lamad</a> All rights reserved.</p>
              </div>
              <div class="col-md-3">
                <p class="mb-0 text-sm fw-normal text-sly"><a class="reset-anchor text-white" href="{% url 'home:privacy' %}">Privacy Policy</a></p>
              </div>
              <div class="col-md-3">
                <p class="mb-0 text-sm fw-normal text-sly"><a class="reset-anchor text-white" href="{% url 'home:terms' %}">Terms Of Use</a></p>
              </div>
            </div>
          </div>
        </div>
        <div class="container quotes-container content-container">
          <section class="footer text-white">
            <div class="row">
              <div class="col-12 page-header mb-4">
                <h2 class="text-uppercase">Stay in touch:</h2>
                <hr class="block-divider block-divider--short">
              </div>
           </div>
           <div class="row">
             <div class="col-12 col-md-6">
               <h3>Social</h3>
               <p>Keep up to date with all our latest offers</p>
               <a href="https://www.facebook.com/profile.php?id=100091956826416" target="_blank"><i class="fab fa-facebook-square"></i> Follow us on Facebook!</a>
             </div>
             <div class="col-12 col-md-6">
               <h2>Subscribe!</h2>
               <p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
               <!-- Mailchimp signup form here -->
              
<div id="mc_embed_signup" style="background: #3a3a3a">
    <form action="https://herokuapp.us8.list-manage.com/subscribe/post?u=cfe8cf38326aa0e625dd743b3&amp;id=141516ea83&amp;f_id=00af6ee0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
        
        <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" required>
	<span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
</div>
	<div id="mce-responses" class="clear foot">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cfe8cf38326aa0e625dd743b3_141516ea83" tabindex="-1" value=""></div>
        <div class="optionalParent">
            <div class="clear foot">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
                <p class="brandingLogo"><a href="http://eepurl.com/ipKs8E" title="Mailchimp - email marketing made easy and fun"><img src="https://eep.io/mc-cdn-images/template_images/branding_logo_text_dark_dtp.svg"></a></p>
            </div>
        </div>
    </div>
</form>
</div>
<!--End mc_embed_signup-->
             </div>
           </div>
         </section>
       </div>
      </footer>
  </body>
</html>