{% load static %}

<!doctype html>
<html lang="en">
  <head>
    {% block meta %}
    <!--Required Meta Tags-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Dimie Egberipou">
    <meta name="description"
    content="Sewing machines for all.">
    <meta name="keywords"
    content="Sewing, machines, coverlocker,overlocker,">
    <meta property="og:title" content="Lamad | Sewing Machines">
    <meta property="og:description" content="Lamad ecommerce store good for sewing machines and accessories.">
    <meta property="og:url" content="#">
    <!--Favicon-->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    <title>Lamad Store | Sewing Machines.</title>

    {% block corecss %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
    <link href="//cdn-images.mailchimp.com/embedcode/classic-071822.css" rel="stylesheet" type="text/css">
    {% endblock %}

    {% block extra_css %}
    <!--Mailchimp Css-->
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
    </style>
    {% endblock %}

    {% block corejs %}
    <!--Stripe-->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Font Awesont kit-->
    <script src="https://kit.fontawesome.com/3af9543e24.js" crossorigin="anonymous"></script>
    <!-- Bootstrap Scripts-->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    
    {% endblock %}

  </head>
  <body>
    <a href="#" id="off"></a>
    <div id="fb-root"></div>

    <!-- Header Nav bar-->
    <header class="container-fluid">
        <div id="topnav" class="row nav-bg-color pt-lg-2 d-none d-lg-flex">
            <!-- Nav logo-->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                <a href="{% url 'home:home' %}" class="nav-link main-logo-link">
                  <h2 class="logo-font text-white my-0"><strong>Lamad</strong> Shop</h2>
                </a>
            </div>
            <!-- Nav center for links-->
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <form method="GET" action="{% url 'shop:products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn nav-bg-color border border-black rounded-0" type="submit" aria-label="Search our products">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                <!-- last col for account and cart options-->
                <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-sly nav-link" href="#" id="dt-user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                {% if request.user.is_authenticated %}
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p class="my-0 text-white">My Account</p>
                                {% else %}
                                    <div><i class="fas fa-user fa-lg"></i></div>
                                    <p class="my-0 text-white">Login / Sign Up</p>
                                {% endif %}
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if user.is_superuser %}
                                    <a href="{% url 'shop:add_product' %}" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="{% url 'account:profile' %}" class="dropdown-item">My Profile</a>
                                <a href="#logoutModal" class="dropdown-item" data-toggle="modal" data-target="#logoutModal">Logout</a>
               
                            {% else %}
                                <a href="{% url 'account:register' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account:signin' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-white{% endif %} nav-link" href="{% url 'cart:cart' %}">
                            <div class="text-center">
                                <div><span class="position-absolute top-0 left-100 translate-middle badge rounded-pill bg-light my-button">{{ request.session.cart.keys | length }}</span></div>
                                <div><i class="fa-solid fa-cart-shopping fa-lg"></i></div>
                                <p class="my-0 cart-amount">
                                    {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                        Cart
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row second-nav">
            <nav class="navbar navbar-expand-lg navbar-dark text-sly w-100">
                
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    {% include 'includes/mobile-top-header.html' %}
                    {% include 'includes/main-nav.html' %}
                
            </nav>
        </div>
        <div id="delivery-banner" class="row text-center">
            <div class="col my-secondary text-white">
                <h4 class="logo-font my-1">Free delivery on orders over ${{ free_delivery_threshold }}!</h4>                
            </div>            
        </div>
    </header>
     
    {% if messages %}
    <div class="message-container">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                    {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                    {% elif level == 25 %}
                        {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}
    
    <!-- logout modal -->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
          <div class="modal-content">
              <div class="modal-header">
                  <h5 class="modal-title" id="logoutModalLabel"><strong>Logout confirmation</strong></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true"><strong>&times;</strong></span>
                  </button>
              </div>
              <div class="modal-body">
                  <h3 class="text-center">Are you sure you want to logout of your account?</h3>
              </div>
              <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Go Back</button>
                  <a href="{% url 'account:logout' %}" class="btn btn-danger">Logout</a>
              </div>
          </div>
      </div>
  </div>
    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script>
      $(document).ready(function(){
      $('.toast').toast('show');
      });
      
    </script>
    {% endblock %}
    <a href="#" id="to-top" aria-label="move to top of page">
      <span class="move_to_top">
        <i class="fas fa-caret-up"></i>
      </span>
    </a>
     <!-- Footer-->
     <footer class="footer" style="background: #3a3a3a">
          
        <div class="py-5">
          <!-- Main Block -->
          <div class="container py-5">
            <div class="row gx-5 gy-4">
              <div class="col-lg-4">
                 <h5 class="text-white text-uppercase mb-4">ABOUT</h5>
                 <p class="text-white">The lamad shop shipping policies: <a href="#" class='text-white'>Shipping</a></p>
                 <br>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item me-3"><a class="reset-anchor" href="https://twitter.com" target="_blank" title="twitter"><i class="fab fa-twitter"></i></a></li>
                  <li class="list-inline-item me-3"><a class="reset-anchor" href="https://facebook.com" target="_blank" title="facebook"><i class="fab fa-facebook-f"></i></a></li>
                  <li class="list-inline-item me-3"><a class="reset-anchor" href="#" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a></li>
                  <li class="list-inline-item me-3"><a class="reset-anchor" href="#" target="_blank" title="pinterest"><i class="fab fa-pinterest"></i></a></li>
                  <li class="list-inline-item"><a class="reset-anchor" href="#" target="_blank" title="vimeo"><i class="fab fa-vimeo-v"></i></a></li>
                </ul>
              </div>
              <div class="col-lg-2 col-md-6">
                <h5 class="text-white text-uppercase mb-4">Lamad Shop</h5>
                <ul class="list-unstyled text-sm fw-normal mb-0">
                  {% for category in menu %}
                  <li class="mb-1 pb-1"><a href="{{ category.get_absolute_url }}" class="reset-anchor">{{category.name}}</a></li>
                  {% endfor %}
                </ul>
            
              </div>
              <div class="col-lg-2 col-md-6">
                <h5 class="text-white text-uppercase mb-4">Pages</h5>
                <ul class="list-unstyled text-sm fw-normal mb-0">
                  <li class="mb-1 pb-1"> <a class="reset-anchor" href="{% url 'account:signin' %}">Login</a></li>
                  <li class="mb-1 pb-1"> <a class="reset-anchor" href="{% url 'account:register' %}">Register</a></li>
                  <li class="mb-1 pb-1"> <a class="reset-anchor" href="{% url 'wishlist:wish_list' %}">Wishlist</a></li>
                  <li class="mb-1 pb-1"> <a class="reset-anchor" href="{% url 'blog:articles' %}">Our Blog</a></li>
                </ul>
              </div>
              <div class="newsletter col-lg-4">
                <h5 class="text-white text-uppercase mb-4">Contact</h5>
                <ul class="list-unstyled text-sm fw-normal mb-0">
                  <li class="mb-1 pb-1 text-white">Phone: 0877850472</li>
                  <li class="mb-1 pb-1 text-white">Email: helper@lamadshop.com</li>
                  <li class="mb-1 pb-1"><a href="{% url 'contact:contact' %}" class="reset-anchor">Contact Form</a></li>
                  <li class="mb-1 pb-1 text-sly">Keep up to date with all our latest offers</li>
                  <li class="mb-1 pb-1 text-white"><a href="https://www.facebook.com/profile.php?id=100091956826416" target="_blank"><i class="fab fa-facebook-square"></i> Follow us on Facebook!</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="copyrights py-4" style="background: #3a3a3a">
          <div class="container py-3">
            <div class="row align-items-center gy-3">
              <div class="col-md-6">
                <p class="mb-0 text-sm fw-normal text-white">&copy; 2023 <a class="reset-anchor text-white" href="{% url 'home:home' %}">Lamad</a> All rights reserved.</p>
              </div>
              <div class="col-md-3">
                <p class="mb-0 text-sm fw-normal text-sly"><a class="reset-anchor text-white" href="{% url 'home:privacy' %}">Privacy Policy</a></p>
              </div>
              <div class="col-md-3">
                <p class="mb-0 text-sm fw-normal text-sly"><a class="reset-anchor text-white" href="{% url 'home:terms' %}">Terms Of Use</a></p>
              </div>
            </div>
          </div>
        </div>
       
      </footer>
  </body>
</html>