{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block content %}

<div class="container product-detail-container mb-4">
    <div class="row">
        <div class="col-xs-12 col-md-6 product-detail-left">
            {% if product.image_url %}
                <img class="product-detail-image" src="{{ product.image_url }}" alt="{{product.name}}">
            {% else %}
                <img class="card-img-top product-image" src="{% static 'images/no-image-6663.webp' %}" alt="{{product.name}}">
            {% endif %}
            
        </div>
        <div class="col-xs-12 col-md-6 product-detail-right">
            <h4><strong>{{ product.name }}</strong></h4>
            <!--Check if product in stock-->
            {% if product.in_stock %}
                <p class="text-muted"> {% if user.is_superadmin %}{{product.stock}} {{product.name}}s left In Stock {% else %} In Stock{% endif %}</p>
            {% else %}
                <p class="text-muted">Sorry this item is currently out of stock</p>
            {% endif %}
            <div class="product-rating">
                <strong>
                    Rating: 
                    {% if product.rating == 1 %}
                    <i class="fa-solid fa-star fa-orange"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    {% elif product.rating == 2 %}
                    <i class="fa-solid fa-star fa-orange"></i>
                    <i class="fa-solid fa-star fa-orange"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    {% elif product.rating == 3 %}
                    <i class="fa-solid fa-star fa-orange"></i>
                    <i class="fa-solid fa-star fa-orange"></i>
                    <i class="fa-solid fa-star fa-orange"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    {% elif product.rating == 4 %}
                    <i class="fa-solid fa-star fa-orange"></i>
                    <i class="fa-solid fa-star fa-orange"></i>
                    <i class="fa-solid fa-star fa-orange"></i>
                    <i class="fa-solid fa-star fa-orange"></i>
                    <i class="fa-regular fa-star"></i>
                    {% else %}
                    <i class="fa-solid fa-star fa-orange"></i>
                    <i class="fa-solid fa-star fa-orange"></i>
                    <i class="fa-solid fa-star fa-orange"></i>
                    <i class="fa-solid fa-star fa-orange"></i>
                    <i class="fa-solid fa-star fa-orange"></i>
                    {% endif %}
                </strong>
            </div>
            <div class="row">
                <div class="col-6">
                    <form class="form" action="{% url 'cart:add_to_cart' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            
                                <div class="col-12">
                                    <p class="mt-3"><strong>Qty In Stock:</strong>{{ product.stock }}</p>
                                    <div class="form-group w-50">
                                        <div class="input-group">
                                            <!-- <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-custom-green rounded-0" 
                                                    data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-minus"></i>
                                                    </span>
                                                </button>
                                            </div> -->
                                            <input class="form-control qty_input" type="number"
                                                name="quantity" value="1" min="1" max="99"
                                                data-item_id="{{ product.id }}"
                                                id="id_qty_{{ product.id }}">
                                            <!-- <div class="input-group-append">
                                                <button class="increment-qty btn btn-custom-green rounded-0"
                                                    data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                    <span class="icon">
                                                        <i class="fas fa-plus"></i>
                                                    </span>
                                                </button>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="col-6 mt-2">
                                    <a href="{% url 'shop:products' %}" class="btn btn-outline-secondary rounded-0 mt-5">
                                        <span class="icon">
                                            
                                            <span class="text-uppercase">To Shop</span>
                                        </span>
                                       
                                    </a>
                                    
                                </div>
                                <div class="col-6 mt-2">
                                    {% if product.in_stock %}
                                    <input type="submit" class="btn btn-danger rounded-0 text-uppercase mt-5" value="Add to Cart">
                                    
                                    {% else %}
                                    <input type="submit" class="btn btn-black rounded-0 text-uppercase mt-5 disabled" value="Out of Stock">
                                    {% endif %}
                                </div>
                                </div>
                                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                           
                        </div>
                    </form>
                    
                </div>
           
                <div class="col-6">
                    <form class="form" action="{% url 'wishlist:add_to_wishlist' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                                <div class="col{% if s %}-12 mt-2{% endif %}">
                                    <button type="submit" class="btn btn-success rounded-0 text-uppercase mt-5">Wish List <i class="fas fa-heart" id="love"></i></button>
                                </div>
                                <input type="hidden" name="product-id" value="{{ product.id }}">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--Description Row-->
    <hr>
    <div class="card">
        <div class="card-header">
          
          <div class="d-flex">
            <div class="title pt-3 pb-4 text-center">
              <h3>Details</h3>
            </div>
          </div>
          
          <!-- START TABS DIV -->
          <div class="tabbable-responsive">
            <div class="tabbable">
              <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" id="first-tab" data-toggle="tab" href="#first" role="tab" aria-controls="first" aria-selected="true">Description</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" id="second-tab" data-toggle="tab" href="#second" role="tab" aria-controls="second" aria-selected="false">Review</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane fade show active" id="first" role="tabpanel" aria-labelledby="first-tab">
              <div class="row">
                <div class="col-12  mt-3 ">
                   
                    <div class="card-body">
                        <p>{{ product.description }}</p>
                    </div>
                </div>
            </div>
            </div>
            <div class="tab-pane fade" id="second" role="tabpanel" aria-labelledby="second-tab">
              <div class="row">
               <div class="col-lg-6">
                {% if reviews %}
                {% for review in reviews %}
                <div class="col-12">
                    <small class="text-muted ml-5">
                        <strong>
                            <span class="text-black"> Rating:</span>
                            {% if review.rating.rating == 1 %}
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            {% elif review.rating.rating == 2 %}
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            {% elif review.rating.rating == 3 %}
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            {% elif review.rating.rating == 4 %}
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-regular fa-star"></i>
                            {% else %}
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-solid fa-star fa-orange"></i>
                            {% endif %}
                        </strong>
                    </small>
                    <p class="ml-5">{{ review.review}}</p>
                    <br>
                </div>
                <div class="col-12 text-center">
                    <p class="ml-10">  - {{ review.user.username }} on {{ review.created_at | date:"D d M Y" }}</p>
                </div>
                {% endfor %}
            {% else %}
            <p>No review on this product yet.</p>
            {% endif %}
               </div>
               <div class="col-lg-6">
                <a href="{% url 'shop:add_review' product.id  %}" class="btn btn-warning rounded-0 mt-5 text-uppercase">Add Review</a>
               </div>
              </div>
            </div>
    
          </div>      
        </div>
      </div>
    
  
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'shop/includes/quantity_input_script.html' %}
{% endblock %}