{% extends 'base.html' %}

{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/product.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid products-page">
    <h2 class="text-center">Products Page</h2>
    <small class="text-muted">{{ product_count }} items found</small> 
    <!-- partial messages goes here -->
    {% include 'includes/messages.html' %}
    <hr>
    <div class="row product-row"> 
        {% for product in products %}
        <div class="card-deck col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-5">
            <div class="card align-items-stretch grow shadow">
                <a href="{{ product.get_absolute_url }}" class="product-image">
                    {% if product.image_url %}
                        <img class="card-img-top product-image" src="{{ product.image_url }}" alt="{{product.name}}">
                    {% elif product.image %}
                        <img class="card-img-top product-image" src="{{ product.image.url }}" alt="{{product.name}}">
                    {% else %}
                        <img class="card-img-top product-image" src="https://lamad-shop.s3.eu-west-1.amazonaws.com/media/no-image-6663.png" alt="{{product.name}}">
                    {% endif %}
                </a>
                <div class="card-body">
                    <a href="{{ product.get_absolute_url }}">
                        <h5 class="card-title">{{ product.name }}</h5>
                    </a>
                    <p class="text-muted"><strong>Category: </strong>{{ product.category }}</p>
                    <small class="text-muted">
                        <strong>
                            Rating: 
                            {% if product.rating == 1 %}
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            {% elif product.rating == 2 %}
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            {% elif product.rating == 3 %}
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-regular fa-star"></i>
                            <i class="fa-regular fa-star"></i>
                            {% elif product.rating == 4 %}
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-regular fa-star"></i>
                            {% else %}
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-solid fa-star fa-orange"></i>
                            <i class="fa-solid fa-star fa-orange"></i>
                            {% endif %}
                        </strong>
                    </small>
                   
                </div>
                <div class="card-footer">
                    <form class="form" action="#" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <a href="{{ product.get_absolute_url }}" class="btn btn-custom-green rounded-0 text-uppercase mt-5">
                                    <span class="text-uppercase">Product Details</span>
                                </a>
                                
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                           
                        </div>
                        
                        {% if user.is_superuser %}
                            <a href="{% url 'shop:edit_product' product.id %}" class="btn btn-warning mt-2">
                                <span class="text-uppercase">Edit</span>
                            </a>
                            <!--Delete product modal button-->
                            <a href="{% url 'shop:delete_product' product.id %}"  class="btn btn-danger mt-2"><span class="text-uppercase">Delete</span></a>
                            <!-- delete product Modal -->
                            
                        {% endif %}
                    </form>
                    {% if user.is_authenticated %}
                        <a href="{% url 'shop:add_review' product.id  %}" class="btn btn-warning rounded-0 text-uppercase mt-2">
                            <span class="text-uppercase">Add Review</span>
                        </a>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:4 %}
    </div>
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% endif %}
        {% endfor %}
    </div>
<!-- pagination -->
{% if products.has_other_pages %}
<nav aria-label="..." class="mt-5">
  <ul class="pagination justify-content-center">
    {% if products.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">&laquo;</span>
      </li>
    {% endif %}

    {% for p in products.paginator.page_range %}
      {% if products.number == p %}
        <li class="page-item"><a class="page-link" href="#">{{ p }}</a></li>
      {% else %}
        <li class="page-item"><a class="page-link" href="?page={{ p }}">{{ p }}</a></li>
      {% endif %}
    {% endfor %}

    {% if products.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link" aria-hidden="true">&raquo;</span>
      </li>
    {% endif %}
</ul>
</nav>
{% endif %}
</div>
{% endblock %}
{% block postloadjs %}
    <script src="{% static 'js/timer.js' %}"></script>
{% endblock %}